# Editor and OS files
.editorconfig
.vscode/
.idea/
*.swp
*.bak
.DS_Store
Thumbs.db

# Node/npm
node_modules/
package.json
package-lock.json
postcss.config.js

# Composer (if not needed)
composer.json
composer.lock
vendor/

# WordPress CLI/Env
.wp-env.json
wp-cli.yml

# Build/output
dist/
build/
.sass-cache
*.log

# Temp images/files
*.jpg
*.png
*.gif

# php sniffers
phpcs.xml.dist

# Other temp/test/output files
tests/
