.blogshq-faq-block {
	margin: 2em 0;

	.faq-item {
		border: 1px solid #e8e8e7;
		border-radius: 8px;
		padding: 1.5em;
		margin-bottom: 1em;
		background: #fff;
	}

	.faq-question {
		font-size: 1.2em;
		font-weight: 600;
		margin: 0 0 0.5em 0;
		color: #000;
	}

	.faq-answer {
		color: #666;
		line-height: 1.6;

		p {
			margin: 0.5em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.blogshq-faq-block-editor {
	padding: 1em;
	border: 1px dashed #ccc;

	.faq-item-editor {
		margin-bottom: 1.5em;
		padding: 1em;
		border: 1px solid #e5e7eb;
		border-radius: 4px;
		background: #f9fafb;

		.faq-question {
			font-size: 1.1em;
			font-weight: 600;
			margin-bottom: 0.5em;
		}

		.faq-answer {
			margin-bottom: 1em;
		}
	}
}